html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
box-sizing: inherit;
}
body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
h2 {
    text-align: center;
}
.contenedor {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}

/*Media objectt*/

.contenedor-comentario{
    display: flex;
    align-items: flex-start;
}

.avatar{
    margin-right: 1rem;
}

.segundo-nivel{
    background-color: #e1e1e1;
    padding: 1rem;
}

/*Footer*/

.pagina{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pagina h1,h2{
    margin: 0;
}

.pagina > *{
    padding: 1rem;
}

.pagina .encabezado{
    background-color: #cddc39;
}

.pagina .contenido-principal{
    background-color: #b2dfdb;
    max-width: 80%;
    margin: 0 auto;
    flex: 1;
}

.pagina .footer{
    background-color: #212121;
    color: white;
}

/*Alinieacion elementos banner 

.centrado{
    background-image: url("/img/hamburguesa.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
    margin: 40px;
}
.contenedor-contenido{
    display: flex;
    flex-direction: column;
}

.superior{
}

.center{
    align-self: center;
    flex: 0 0 33%;
}

.inferior{
    align-self: flex-end;
}*/

/*Centrado*/

.centrado{
    background-image: url("../img/hamburguesa.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centrado > div{
    flex: 0 0 calc(33.3% - 3rem);
}

.contenido-centrado{
    color: white;
    text-align: center;
}

.contenido-centrado h1 {
    color: #ffffff;
    text-transform: center;
    margin: 0;
}

.contenido-centrado p{
    margin: 0;
}

.contenido-centrado .ubicacion {
    font-weight: 900;
    font-size: 1.4rem;
}

.aviso{
    background-color: #e0ab10;
    padding: 1rem;
    text-align: center;
}

.aviso span{
    font-size: 3rem;
    display: block;
}

.arriba{
    margin-top: 20px;
    align-self: baseline;
}

.abajo{
    align-self:flex-end;
    margin-bottom: 10%;
}